<% content_for :title do %>Citibikes around 10gen's office<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="citibike" data-view="Citibike" data-title="Citibike stations near 10gen's NYC office"></div>
    </li>
</div>
