<% content_for :title do %>Jenkins Drivers dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="mongo-c-driver" data-view="Jenkins" data-title="C" data-text="" data-moreinfo=""></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="mongo-csharp-driver-1.8x" data-view="Jenkins" data-title="C#" data-text="" data-moreinfo=""></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="mongo-java-driver" data-view="Jenkins" data-title="Java" data-text="" data-moreinfo=""></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="node-mongodb-native" data-view="Jenkins" data-title="Node" data-text="" data-moreinfo=""></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="mongo-perl-driver" data-view="Jenkins" data-title="Perl" data-text="" data-moreinfo=""></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="mongo-php-driver" data-view="Jenkins" data-title="PHP" data-text="" data-moreinfo=""></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="mongo-python-driver" data-view="Jenkins" data-title="Python" data-text="" data-moreinfo=""></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="mongo-ruby-driver" data-view="Jenkins" data-title="Ruby" data-text="" data-moreinfo=""></div>
    </li>
  </ul>
</div>