<% content_for :title do %>GitHub Commits<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="github" data-view="List" data-title="mongo" style="background-color:#ff9618"></div>
  </ul>

</div>