<% content_for :title do %>MongoDB Driver TravisCI Status<% end %>
<div class="gridster">
    <ul>
        <li data-row="1" data-col="1" data-sizex="8" data-sizey="2">
        <div data-id="welcome" data-view="Text" data-title="MongoDB Driver TravisCI Status"></div>
        </li>

        <li data-row="3" data-col="1" data-sizex="2" data-sizey="2">
        <div data-id="ci_travis_python" data-view="Travis" data-unordered="true" data-title="Python"></div>
        </li>

        <li data-row="3" data-col="3" data-sizex="2" data-sizey="2">
        <div data-id="ci_travis_motor" data-view="Travis" data-unordered="true" data-title="Motor"></div>
        </li>

        <li data-row="3" data-col="5" data-sizex="2" data-sizey="2">
        <div data-id="ci_travis_ruby" data-view="Travis" data-unordered="true" data-title="Ruby"></div>
        </li>

        <li data-row="3" data-col="7" data-sizex="2" data-sizey="2">
        <div data-id="ci_travis_java" data-view="Travis" data-unordered="true" data-title="Java"></div>
        </li>

        <li data-row="3" data-col="9" data-sizex="2" data-sizey="2">
        <div data-id="ci_travis_node" data-view="Travis" data-unordered="true" data-title="Node"></div>
        </li>

        <li data-row="3" data-col="11" data-sizex="2" data-sizey="2">
        <div data-id="ci_travis_php" data-view="Travis" data-unordered="true" data-title="PHP"></div>
        </li>

        <li data-row="3" data-col="13" data-sizex="2" data-sizey="2">
        <div data-id="ci_travis_casbah" data-view="Travis" data-unordered="true" data-title="Scala"></div>
        </li>

        <li data-row="5" data-col="1" data-sizex="2" data-sizey="1">
        <div data-id="ci_travis_python_pr" data-view="Travis" data-unordered="true" data-title=""></div>
        </li>

        <li data-row="5" data-col="3" data-sizex="2" data-sizey="1">
        <div data-id="ci_travis_motor" data-view="Travis" data-unordered="true" data-title=""></div>
        </li>

        <li data-row="5" data-col="5" data-sizex="2" data-sizey="1">
        <div data-id="ci_travis_ruby_pr" data-view="Travis" data-unordered="true" data-title=""></div>
        </li>

        <li data-row="5" data-col="7" data-sizex="2" data-sizey="1">
        <div data-id="ci_travis_java_pr" data-view="Travis" data-unordered="true" data-title=""></div>
        </li>

        <li data-row="5" data-col="9" data-sizex="2" data-sizey="1">
        <div data-id="ci_travis_node_pr" data-view="Travis" data-unordered="true" data-title=""></div>
        </li>

        <li data-row="5" data-col="11" data-sizex="2" data-sizey="1">
        <div data-id="ci_travis_php_pr" data-view="Travis" data-unordered="true" data-title=""></div>
        </li>

        <li data-row="5" data-col="13" data-sizex="2" data-sizey="1">
        <div data-id="ci_travis_casbah_pr" data-view="Travis" data-unordered="true" data-title=""></div>
        </li>

        <li data-row="6" data-col="5" data-sizex="2" data-sizey="1">
        <div data-id="ci_travis_bson_ruby" data-view="Travis" data-unordered="true" data-title="Ruby BSON"></div>
        </li>

        <li data-row="6" data-col="9" data-sizex="2" data-sizey="1">
        <div data-id="ci_travis_js_bson" data-view="Travis" data-unordered="true" data-title="Node BSON"></div>
        </li>

    </ul>
</div>

